/* shift+command+7 shortcut for making something a comment */
/* shift+option+a shortcut for starting a comment */
/***************Reset/****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/************ header **************/
