/* shift+command+7 shortcut for making something a comment */
/* shift+option+a shortcut for starting a comment */
/***************Reset/****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/************ header **************/

.links {
  grid-column: 3/4;
  line-height: 35px;
  padding-top: 1vh;
  padding-left: 1vh;
  margin-left: 1090px; /* skal rettes til højre side */
}
/****** search ******/
input[type="search"] {
  float: right;
  color: black;
  margin-top: 2%;
  width: 70px;
  padding: 8px 20px 8px 45px;
  border: #000 solid 2px;
  font-size: 18px;
  border-radius: 25px;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 10px;
  background-image: url(img/—Pngtree—search\ icon_4699282.png);
  background-color: transparent;
  transition: 0.5s all ease-in-out;
  filter: brightness(170%);
  margin-left: 600px;
}

input[type="search"]:focus,
input[type="search"]:not(:placeholder-shown) {
  width: 350px;
  background-color: #fff;
  filter: brightness(100%);
}
/****** body ******/
.overskrift {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  padding: 40px 20px 20px 20px;
}

/****** main ******/
/* main {
  max-width: 1200px;
  margin-inline: 180px; /* left and right margins simultaneously */
} */

/****** badge1 ******/
.badge1 {
  width: 200px;
  height: 200px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.anden {
  background-color: #ef936cb6;
  margin-left: 10px;
  color: #715f5f;
}
/* shop */
.shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  padding: 30px 30px 30px 0px;
  gap: 30px;
}
.h4 .h5 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* forhandlere */
.logoer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1400px;
  padding: 30px 30px 30px 0px;
  gap: 10px;
  background-color: #715f5f;
  background-size: cover;
}

h4 {
  font-weight: bold;
}

/* billed gallery */

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 800px; /* Adjust the maximum width of the gallery */
  margin: 0 auto;
}

.gallery img {
  height: 279px;
  width: 279px;
  object-fit: cover;
  border: 2px solid grey; /* find en mere passende farve */
}
