/***************Reset/****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
<<<<<<< HEAD
  object-fit: cover;
}
main {
  max-width: 1200px;
  margin-inline: auto;
}

/*************** <script src="https://kit.fontawesome.com/c5d83fc88a.js" crossorigin="anonymous"></script>* 
skal man indsætte til head så man kan se burgermenu icon*/

/*****header-slide-tekst*****/
.slide-right {
  width: 100%;
  overflow: hidden;
  background-color: #08408f;
  width: 100%;
  height: 5vh;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.slide-right p {
  animation: 30s slide-right infinite;
}

@keyframes slide-right {
  from {
    margin-left: 0%;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}

/***********overskrift*********/
h1 {
  font-size: 50px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  padding-top: 5vw;
}
p {
  line-height: 40px;
  font-size: 16px;
  font-family: Playfair Display, serif;
=======
>>>>>>> 3103305b29049fe1acfdd10d25c0fb55ef32a2d1
}
/****** color definition ******/

/****** Media query ******/
@media (max-width: 812px) {
  nav ul {
    flex-direction: row;
  }
}

/****** Font ******/
@font-face {
}

/****** body ******/
body {
  background-color: #cfb41b;
  margin: 20px;
  padding: 0;
  /* font-family: ; */ /* HUSK AT TILFØJE */
}
@media (max-width: 812px) {
}
/****** a ul links ******/

a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  /* z-index: 80px; */
}

ul {
  list-style-type: none;
}

/*************** header ****************/
/****** logo ******/
.logo {
  float: none;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****** search ******/
input[type="search"] {
  float: right;
  color: black;
  margin-top: 2%;
  width: 70px;
  padding: 8px 20px 8px 45px;
  border: #000 solid 2px;
  font-size: 18px;
  border-radius: 25px;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 10px;
  background-image: url(img/—Pngtree—search\ icon_4699282.png);
  background-color: transparent;
  transition: 0.5s all ease-in-out;
  filter: brightness(170%);
}

input[type="search"]:focus,
input[type="search"]:not(:placeholder-shown) {
  width: 350px;
  background-color: #fff;
  filter: brightness(100%);
}
/* input[type="search"]::placeholder {
  color: black;
} */

/****** burgermenu ******/
.bar {
  width: 30px; /*hvor lang stregen er*/
  height: 3px; /*hvor tykt stregen er*/
  background-color: #000000; /*farven på stregerne*/
  margin: 4px;
  transition: 0.4s; /*hvor hurtigt elementet åbner og lukker sig*/
}
.active {
  background-color: #ac2d2d; /* OBS skal rettes */
  max-width: fit-content;
  margin-top: 13px; /*afstanden på ".active kassen" fra toppen af screen */
  border-radius: 10px;
}
.burger {
  display: flex;
  flex-direction: column; /*element ligger i column da jeg gerne vil have at det åbnes verticalt*/
}
nav ul {
  display: none; /*Display er none da jeg gerne vil gemme elementet. (I denne opgave) */
  flex-direction: column; /*element ligger i column da jeg gerne vil have at det åbnes verticalt*/
  position: absolute; /*element ligger sig ovenpå alt uanset hvad */
  top: 50px; /*afstanden på ".active kassen" fra toppen af screen */
  left: 0;
  width: 100%;
}
nav ul.active {
  display: flex;
}
nav li {
  margin: 10px 20px; /*hvordan linkene ligger i ".active kassen"*/
}

<<<<<<< HEAD
/*html burgermenu*
<header>
        <div class="slide-right">
            <p>1-3dages levering / Gratis fragt over 300 DKK / Cirkulær forsendelsesemballage tilgængelig </p>
        </div>
        <a href="#" class="burger" id="burgerIcon"><i class="fa-solid fa-bars"></i></a>
        <div class="navbar" id="myNavbar">
            <a href="stories.html">
                <div class="logo"><img src="img/pleasant_logo.webp" alt="Logo"></div>
            </a>
            <a href="/shop.html">Shop</a>
            <a href="/style.html">Style guide</a>
            <a href="/vaerdier.html">Værdier</a>
            <a href="stories.html">Stories</a>
            <a href="/index.html"></a>
        </div>
    </header>

/**********footer***************/
footer {
  background-color: #172b85;
  width: 100%;
  height: auto;
}
.footer_top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #efece2;
  line-height: 25px;
  padding: 4vw;
  gap: 20px;
=======
/*************** main ****************/
main {
  margin: 0 auto 0 auto;
  max-width: 1000px;
>>>>>>> 3103305b29049fe1acfdd10d25c0fb55ef32a2d1
}
