/***************Reset/****************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/****** color definition ******/

/****** Media query ******/
@media (max-width: 812px) {
  nav ul {
    flex-direction: row;
  }
}

/****** Font ******/
@font-face {
}

/****** body ******/
body {
  background-color: #cfb41b;
  margin: 20px;
  padding: 0;
  /* font-family: ; */ /* HUSK AT TILFØJE */
}
@media (max-width: 812px) {
}
/****** a ul links ******/

a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  /* z-index: 80px; */
}

ul {
  list-style-type: none;
}

/*************** header ****************/
/****** logo ******/
.logo {
  float: none;
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/****** search ******/
input[type="search"] {
  float: right;
  color: black;
  margin-top: 2%;
  width: 70px;
  padding: 8px 20px 8px 45px;
  border: #000 solid 2px;
  font-size: 18px;
  border-radius: 25px;
  background-position: 2% 50%;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position-x: 10px;
  background-image: url(img/—Pngtree—search\ icon_4699282.png);
  background-color: transparent;
  transition: 0.5s all ease-in-out;
  filter: brightness(170%);
}

input[type="search"]:focus,
input[type="search"]:not(:placeholder-shown) {
  width: 350px;
  background-color: #fff;
  filter: brightness(100%);
}
/* input[type="search"]::placeholder {
  color: black;
} */

/****** burgermenu ******/
.bar {
  width: 30px; /*hvor lang stregen er*/
  height: 3px; /*hvor tykt stregen er*/
  background-color: #000000; /*farven på stregerne*/
  margin: 4px;
  transition: 0.4s; /*hvor hurtigt elementet åbner og lukker sig*/
}
.active {
  background-color: #ac2d2d; /* OBS skal rettes */
  max-width: fit-content;
  margin-top: 13px; /*afstanden på ".active kassen" fra toppen af screen */
  border-radius: 10px;
}
.burger {
  display: flex;
  flex-direction: column; /*element ligger i column da jeg gerne vil have at det åbnes verticalt*/
}
nav ul {
  display: none; /*Display er none da jeg gerne vil gemme elementet. (I denne opgave) */
  flex-direction: column; /*element ligger i column da jeg gerne vil have at det åbnes verticalt*/
  position: absolute; /*element ligger sig ovenpå alt uanset hvad */
  top: 50px; /*afstanden på ".active kassen" fra toppen af screen */
  left: 0;
  width: 100%;
}
nav ul.active {
  display: flex;
}
nav li {
  margin: 10px 20px; /*hvordan linkene ligger i ".active kassen"*/
}

/*************** main ****************/
main {
  margin: 0 auto 0 auto;
  max-width: 1000px;
}
