/**************FÆLLLES CSS - ting der skal være ens for alle sider*************/

/*************footer (info om virksomheden der står i bunden af sider)*************/

/***********header/Nav-bar (burgermenu)****************/

/****************Font***************/

:root {
  --main-font-size: 16px;
  --main-font-family: "Roboto", sans-serif;
  --main-font-weight: 400;
  --heading-font-weight: 700;
  --sand: #e0d8c3;
  --blue: #08408f;
  --brun: #6c5857;
  --turkis: #83beb3;
  --greyWhite: #d9d9d9;
  --brownBlack: #373232;
}

body {
  font-size: var(--main-font-size);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  background-color: var(--greyWhite);
  color: var(--brownBlack);
}

h1 {
  font-size: 3em; /* Adjust heading sizes as needed */
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

a {
  color: var(--turkis);
}

/* pc styles */
@media only screen and (min-width: 600px) {
  :root {
    --main-font-size: 34px; /* Adjust font size for mobile */
    --heading-font-weight: 600; /* Adjust heading font weight for mobile */
  }

  body {
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
  }

  h1 {
    font-size: 3em;
    color: #08408f;
    text-align: center;
    padding-top: 20px;
    margin: 0;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit; /* Inherit font size for headings on mobile */
    font-weight: var(--heading-font-weight);
  }
}
