* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container_1 {
  display: inline;
}

.img_timeglas {
  float: right;
  margin: 0px 0px 15px 15px;
}

.img_unicorn {
  float: left;
  margin: 0px 0px 15px 15px;
}

/********NYT*******/
.float_right {
  float: left;
  width: 200px;
}

.container {
  width: 100%;
  overflow: auto;
}

/*********FAQ*********/
.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq-question {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}

.faq-answer {
  display: none;
  padding: 10px;
  margin-bottom: 15px; /* Add margin between the answer and the next question */
}

/************black lines*******/

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

.container_2 {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 3rem;
}

.paragraph {
  flex: 1;
  width: 47%; /* Adjust the width based on your design */
  padding: 20px;
  background-color: #fff;
  margin: 5px;
}

/* Remove right border for the last paragraph */
.paragraph:last-child {
  border-right: none;
}
