* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container_1 {
  display: inline;
}

.img_timeglas {
  float: right;
  margin: 0px 0px 15px 15px;
}

.img_unicorn {
  float: left;
  margin: 0px 0px 15px 15px;
}

.float_right {
  float: left;
  width: 200px;
}

.container {
  width: 100%;
  overflow: auto;
  padding-bottom: 20px;
}

/*********FAQ*********/
.faq-container {
  max-width: 600px;
  margin: 0 auto;
}

.faq-question {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 10px;
}

.faq-answer {
  display: none;
  padding: 10px;
  margin-bottom: 15px; /* Add margin between the answer and the next question */
}

/************black lines*******/

.container_2 {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  justify-content: space-around;
  text-align: center;
}

.paragraph {
  flex: 1;
  width: 47%; /* Adjust the width based on your design */
  padding: 2px;
  margin: 1px;
  background-color: #d9d9d9;
}

.container img {
  max-width: 60px;
}

@media only screen and (min-width: 601px) {
  .container_2 {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next line */
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
  }

  .paragraph {
    flex: 1;
    width: 47%; /* Adjust the width based on your design */
    padding: 20px;
    margin: 5px;
  }
}

/* Add some styles for the header */
header {
  background-color: #08408f;
  color: #fff;
  padding: 10px;
}

/* Style for h1 tag */
h1 {
  font-size: 3em;
  color: #08408f;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}

h4 {
  font-style: italic;
  font-weight: 200;
}

/* Styling for .container */
.container {
  padding: 20px;
}

/* Style for images with float classes */
.float_right,
.float_left {
  max-width: 50%;
  height: auto;
}

/* Add some styling for paragraphs */
.container p {
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Style for FAQ section */
.faq-question {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
}

.faq-answer {
  display: none;
  margin-bottom: 10px;
}
